body {
    text-align: center;
    background-color: #f2f2f2;
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 1rem 0;
    padding-top: 5%;
}

h2 {
    font-size: 1.5rem;
    color: #555;
    margin: 1rem 0;
}

.btn-container {
    margin-top: -4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.btn {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid #333;
    margin: 1rem;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn:active {
    transform: scale(0.95);
}

.level {
    background-color: #4caf50;
    color: white;
    font-size: 1.01rem;
    padding: 1rem 3rem;
    cursor: auto;
    transition: background-color 0.2s;
    margin-top: -10rem;
    border-radius: 5px;
    border-color: #4caf50;
}

.level:hover {
    background-color: #45a049;
}

.red {
    background-color: #e84dba;
}

.blue {
    background-color: #6475eb;
}

.yellow {
    background-color: #feb326;
}

.purple {
    background-color: #7f58af;
}

.flash {
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: background-color 0.2s, box-shadow 0.2s;
}

.finishGame {
    background-color: red;
    transition: background-color 0.2s;
}