body {
    text-align: center;
}

.btn {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    border: 5px solid black;
    margin: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: #f57e7e;
}

.green {
    background-color: #9bc472;
}

.yellow {
    background-color: #f3ca20;
}

.blue {
    background-color: #804ec6;
}

.flash {
    background-color: white;
}